{% extends "index.html"%}

{% block title%}
    home page
{% endblock %}


{% block content%}
    
    <section class="banner"></section>

    <section id="menu" class="hidden">
        <h1>hi there</h1>
        <p >animation on scroll using html</p>
    </section>

    <section id="product" class="hidden">
        <h1>hi there</h1>
        <p >animation on scroll using html</p>
    </section>
    <section id="profile" class="hidden">
        <h1>hi there</h1>
        <p >Lets Put Profile here</p>
    </section>

    <section id="pricing" class="hidden">
        <div>
            <img src="static/style/image/image.jpg">
        </div>
    </section>

    <script defer src="{{url_for('static', filename='animate.js')}}"></script>

{% endblock %}